
{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
    <head>
 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>GudoRide</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href=" {% static '/css/bootstrap.min.css' %}" rel="stylesheet">
     
        <link href=" {% static  'css/bootstrap-icons.css '%} " rel="stylesheet">

        <link href="  {% static  '/css/tooplate-clean-work.css' %} " rel="stylesheet">
        <link href=" {% static   'Conttent/bootstrap.min.css '%}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="https://kit.fontawesome.com/ab2155e76b.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    </head>
    <script>
  
        var url1 = "{% static '/images/slideshow/ohare.jpg' %}"
        var url2= "{% static '/images/slideshow/midway.jpg' %}"
        var url3 = "{% static '/images/slideshow/downtown.jpg' %}"
        
    </script>
    <body>

        <header class="site-header">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12 col-12 d-flex flex-wrap">
                        <p class="d-flex me-4 mb-0">
                            <i class="bi-house-fill me-2"></i>
                            One-Stop Private Car Service
                        </p>

                        <p class="d-flex d-lg-block d-md-block d-none me-4 mb-0">
                            <i class="bi-clock-fill me-2"></i>
                            <strong class="me-2">Mon - Fri</strong> 6:00 AM - 12:30 PM
                        </p>

                        <p class="site-header-icon-wrap text-white d-flex mb-0 ms-auto">
                            <i class="site-header-icon bi-whatsapp me-2"></i>

                            <a href="tel: 110-220-9800" class="text-white">
                                +16309308794
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src=" {% static 'images/bubbles.png     ' %}" class="logo img-fluid" alt="">

                    <span class="ms-2"> Private Car Service</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About Us</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="services.html">Our Services</a></li>

                                <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>

                                <li><a class="dropdown-item" href="page-404.html">Page 404</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>

                        <li class="nav-item ms-3">
                            <a class="nav-link custom-btn custom-border-btn custom-btn-bg-white btn" href="#">Get started</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main> 

            <section class="hero-section hero-section-full-height d-flex justify-content-center align-items-center">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-7 col-12 text-center mx-auto">
                            <h1 class="cd-headline rotate-1 text-white mb-4 pb-2">
                                <span>Transportation to </span>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">O'hare</b>
                                    <b>Midway</b>
                                    <b>Downtown</b>
                                </span>
                            </h1>

                            <a class="custom-btn btn button button--atlas smoothscroll me-3" href="#intro-section">
                                <span>Introduction</span>

                                <div class="marquee" aria-hidden="true">
                                    <div class="marquee__inner">
                                        <span>Introduction</span>
                                        <span>Introduction</span>
                                        <span>Introduction</span>
                                        <span>Introduction</span>
                                    </div>
                                </div>
                            </a>

                            <a class="custom-btn custom-border-btn custom-btn-bg-white btn button button--pan smoothscroll" href="#services-section">
                                <span>Explore Services</span>
                            </a>
                        </div>


                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L40,229.3C80,235,160,245,240,250.7C320,256,400,256,480,240C560,224,640,192,720,176C800,160,880,160,960,138.7C1040,117,1120,75,1200,80C1280,85,1360,139,1400,165.3L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
            </section>


            <section class="intro-section" id="intro-section">
                <div class="container">
                    <div class="row justify-content-lg-center align-items-center">

                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4">Reliable  Private Car <br> Service</h2>

                            <p><a href="#">GudoRide</a> Welcome to GudoRide, North Chicago's premier private car service, where comfort meets convenience. 
                                Whether you're heading to a business meeting, an event, or simply exploring the city, we provide a seamless transportation experience tailored to your needs.
                                 Our fleet of well-maintained, comfort vehicles ensures a comfortable ride, while our professional chauffeurs guarantee punctuality, 
                                 safety, and top-notch service. At GudoRide, we’re committed to offering you a personalized travel experience, making every journey with us exceptional.

                                Let us take the wheel, so you can enjoy the ride.</p>
                        </div>

                        <div class="col-lg-6 col-12 custom-block-wrap">
                            <img src=" {% static 'images/male-wearing-apron-female-white-t-shirt-smiling-broadly-being-glad-clean.png' %}" class="img-fluid">

                            <div class="custom-block d-flex flex-column">
                                <h6 class="text-white mb-3">Booking and Fare info <br> Please call:</h6>

                                <p class="d-flex mb-0">
                                    <i class="bi-telephone-fill custom-icon me-2"></i>

                                    <a href="tel: 110-220-9800">
                                        +16309308794
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            
           
          
          
          

            <section class="services-section section-padding section-bg" id="services-section">                
                <div class="container">
                    <div class="row"><!--


                   -->
                    
                   <style>
                    #datepickeru {
                        border: none;
                        box-sizing: border-box;
                        outline: 0;
                        padding: .75rem;
                        position: relative;
                        width: 100%;
                    }
                    
                    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
                        background: transparent;
                        bottom: 0;
                        color: transparent;
                        cursor: pointer;
                        height: auto;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: auto;
                    }
        
#submitform,#resetform{
    width:100%;
}
                /*Jumbotron*/
                .jumbotron {
                  background-color: transparent;
                  margin: 0;
                  padding: 2px;
                }
                
                .jumbotron h1 {
                  letter-spacing: 2.5px;
                  font-size: 3.5em;
                }
                
                .jumbotron h1,
                .jumbotron p {
                  text-align: center;
                }
                
                /*map*/
                #googleMap {
                  width: 100%;
                  height: 400px;
                  margin: 5px auto;
                }
                
                /*output box*/
                #output {
                  text-align: center;
                  
                  margin: 10px auto;
                  background-color: #7cb8eb;
                  border-radius: 25px;
                 
                }
                
                #mode {
                  color: black;
                
                
                }
                div label{
                    display:none!important;
                }
                .asteriskField,.invalid-feedback{
                    display: none !important;
                }
              .form-group{
                padding:4px;
              }
              #div_id_Special_note{
                height:10% !important;
              }
              #googleMap{
                    border-radius: 25px;
                    border: 2px solid #73AD21;
                     padding: 20px; 
                     height:600px;
              }
   
              #submitform,#resetform{
                padding: 15px;
                margin: 10px;
                border-radius: 25px;
              }
              #id_price{
                display:none;
              }
              #
    
                </style>           
    <!-- maps form starts here   -->            
     <div class="jumbotron">
                    <div class="container-fluid">
                        <h1>Book Now Cancel  Any Time </h1>
                        <p>You will recive phone call after we process Booking information</p>




<!--  ectra contact starts here -->


{% block content %}
                                    
                           
<form id='form1' method="POST" >    {% csrf_token %}
   {{ form|crispy}}
   <button action=""  class="btn btn-primary btn-block"  onclick=" checkClick();" id='submitform'  type="button" >Check Price </button>
 
   <button  style="background-color:#bc1717c2;"  class="btn btn-primary btn-block"   id='resetform'  type="reset" value="Reset" >Reset All </button>
</form>
{% endblock %}
<div class='fs-4' id="output">
            
</div>




<!-- ends here -->

         
                        <div id="googleMap">
            
                        </div>
                        
            
                </div>
                
                
    <!-- maps form ends  here   -->            
                
                
                
                </div>  
                </div>
            </section>
             
    
     
<script>




    var clickCount = 0;
    function checkClick() {
      if ( clickCount % 1 == 0 ) {
        calcRoute();
        $('#submitform').addClass("ajaxi");
    
        
        $('.ajaxi').on("click", function(e){
            $('#submitform').prop('type','submbit');
             //e.preventDefault();      
            
        });
    
               
      } else {
    
                $('#submitform').prop('type','');
      
      }
    
      clickCount++
    }

    
</script>           

            <section class="testimonial-section section-padding section-bg">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="text-white mb-4">Happy Customers</h2>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="featured-block">
                                <div class="d-flex align-items-center mb-3">
                                    <img src=" {% static 'images/avatar/happy-customer-01.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Marie</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">"Exceptional service! The driver arrived early, was extremely professional, 
                                    and the vehicle was spotless. I felt safe and comfortable throughout the entire ride. 
                                    Highly recommend this company for anyone looking for reliable and luxurious transportation."</p>
                            </div>

                            <div class="featured-block mb-lg-0">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-02.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Nana</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">"Impressed by the level of professionalism and attention to detail. The driver was friendly, 
                                    the car was luxurious, and I arrived at my destination on time. A truly premium experience that I will be recommending to all my friends and family.".</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="featured-block">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-03.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Elon</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">"Consistently excellent service! I’ve used this company multiple times, and they always deliver. 
                                    The drivers are professional,
                                     the cars are luxurious, and the overall experience is hassle-free.
                                      A trusted service for all my transportation needs."</p>
                            </div>

                            <div class="featured-block mb-lg-0">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-04.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Josh</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">"A Stress-Free Commute"
                                    As someone who frequently travels for business, having a reliable car service is essential. This company has never let me down.
                                     The booking process is seamless,
                                      the cars are luxurious, and the drivers are always friendly. 
                                      It's a stress-free experience from start to finish.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="featured-block">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-05.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Katie</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">"Absolutely outstanding service! The driver was punctual, professional, and the car was spotless. I had an early morning flight,
                                     and the whole experience was seamless from start to finish.
                                      I’ll definitely be using this service again for all my future travels."</p>
                            </div>

                            <div class="featured-block mb-lg-0">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-06.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Shai</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">""Exceptional Experience Every Time"
                                    This car service is by far the best in the North Chicago suburbs. The drivers are professional, courteous, and know the area inside out. 
                                    I appreciate their punctuality and attention to detail. 
                                    The level of service they provide is unmatched. I wouldn't trust anyone else for my transportation needs.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="partners-section">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-12 col-12">
                            <h4 class="partners-section-title bg-white shadow-lg">Trusted by companies</h4>
                        </div>

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="{% static 'images/partners/par1.png'%}" class="partners-image img-fluid">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="{% static 'images/partners/par2.png'%}" class="partners-image img-fluid">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="{% static 'images/partners/par3.png'%}" class="partners-image img-fluid">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="{% static 'images/partners/par4.png'%}" class="partners-image img-fluid">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="{% static 'images/partners/par5.png'%}" class="partners-image img-fluid">
                        </div>

                    </div>
                </div>
            </section>
        </main>


        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 d-flex align-items-center mb-4 pb-2">
                        <div>
                            <img src="{% static 'images/bubbles.png'%}" class="logo img-fluid" alt="">
                        </div>

                        <ul class="footer-menu d-flex flex-wrap ms-5">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">About Us</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Blog</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Reviews</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                        <h5 class="site-footer-title mb-3">Our Services</h5>

                        <ul class="footer-menu">
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">
                                    <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                    Airport transportation
                                </a>
                            </li>

                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">
                                    <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                    Event transportation
                                </a>
                            </li>

                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">
                                    <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                    Book By Hour
                                </a>
                            </li>

           
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                        <h5 class="site-footer-title mb-3">Office</h5>

                        <p class="text-white d-flex mt-3 mb-2">
                            <i class="bi-geo-alt-fill me-2"></i>
                            Crystal Lake, Illinois
                        </p>

                        <p class="text-white d-flex mb-2">
                            <i class="bi-telephone-fill me-2"></i>

                            <a href="tel: 110-220-9800" class="site-footer-link">
                                6309308794
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <i class="bi-envelope-fill me-2"></i>

                            <a href="mailto:info@company.com" class="site-footer-link">
                                gudoride.com
                            </a>
                        </p>

                        <ul class="social-icon mt-4">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link button button--skoll">
                                    <span></span>
                                    <span class="bi-twitter"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link button button--skoll">
                                    <span></span>
                                    <span class="bi-facebook"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link button button--skoll">
                                    <span></span>
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 mt-3 mt-lg-0 mt-md-0">
                        <div class="featured-block">
                            <h5 class="text-white mb-3">Service Hours</h5>

                            <strong class="d-block text-white mb-1">Mon - Fri</strong>

                            <p class="text-white mb-3">3:00 AM - 11:30 PM</p>

                            <strong class="d-block text-white mb-1">Sat</strong>

                            <p class="text-white mb-0">6:00 AM - 2:30 PM</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <p class="copyright-text mb-0">
                                GudoRide&nbsp;2012-<script>document.write(new Date().getFullYear())</script> &copy;&nbsp;All&nbsp;rights&nbsp;reserved</p>
                        </div>
                        
                     
                        
                    </div>
                </div>
            </div>
        </footer>
scrip   
        <!-- JAVASCRIPT FILES -->
    <script loading="async"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQRO00N_n_mvYXez3nAYMa-cPb7wuZoX8&libraries=places"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src=" {% static '/js/Main.js' %}  "></script>

        <script src=" {% static '/js/bootstrap.min.js' %} "></script>
        <script src="   {% static '/js/jquery.backstretch.min.js   ' %} "></script>

         <script src="  {% static '/js/counter.js' %} "></script>
        <script src=" {% static '/js/countdown.js' %} "></script>
        <script src="  {% static '/js/init.js' %} "></script>
        <script src="   {% static '/js/modernizr.js     ' %}   "></script>
        <script src=" {% static '/js/animated-headline.js' %}"></script>
        <script src="    {% static '/js/custom.js' %}"></script>
 

    </body>
</html>
